/*
	jsrepo 1.24.3
	Installed from github/davidhdev/react-bits
	13-1-2025
*/

.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block; /* Remove default margin/padding of canvas */
}
